{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="search">
	<input class="serchBox" type="text" size="40" name="query" value="{{ liststr }}" />
	<button type="submit" name="button" value="None">OK</button>
</form>

<div class="content">
	<div class="popular_napr">Релевантные направления</div>
{% for model in models %}	
	<div class="element">
    			<div class="hat"><a href="/id/{{model.id}}">{{model.name}}</a></div><!--name-->
    			<!--<div class="vyz">Автор: УниверситетИТМО</div>short_descr-->
    			<div class="descr">{{model.short_descr}}</div><!--lonh_descr-->
				<div class="hard">Сложность: {{model.diff_avg}}/5<!--diff_avg--> <img src="like.png"> {{model.likes_avg}} <p></p> 
					{% for tag in model.list_tags[:4] %}	
						<div class="tag"> {{tag.name}} - {{tag.avg_value}} <!--diff_count--></div>
					{% endfor %}
				</div>
				
	</div>
{% endfor %}
</div>

{% endblock %}